@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    color: #333;

}
.container {
    margin: 0 15px;
}
.form-box{
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}
.form-box.active{
    display: block;
}
h2 {
    font-size: 34px;
    text-align: center;
    margin: 20px;
}
input{
    width: 100%;
    padding: 12px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}
select {
    width: 100%;
    padding: 12px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}
button{
    width: 100%;
    padding: 12px;
    background: #7494ec;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s;
    z-index: 5;
}
button:hover{
    padding: 14px;
    background: #3c4e80;
}
button:hover{
    background: #6884d3;
}
p{
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 10px;
}
p a{
    color: #7494ec;
    text-decoration: none;
}
p a:hover{
    text-decoration: underline;
}

.error-menssage {
    padding: 12px;
    background: #f8d7da;
    border-radius: 6px;
    font-size: 16px;
    color: #a42834;
    text-align: center;
    margin-bottom: 20px;
}
h1 {
    font-size: 50px;
    color: white;
}

span {
    color: #7494ec;
}

.box p {
    font-size: 22px;
    color: white;
}

.box button {
    display: block;
    width: 300px;
    margin: 0 auto;
    z-index: 5;
}
.box button:hover{
        transform: scale(1.05);
    background:linear-gradient( 90deg, #0066ff,#031227) ;
    color: white;
    box-shadow: 0 0 12px wheat, 0 0 18px black;
    filter: brightness(1.15);
}
.tech-circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    pointer-events: none;
}
.circle{
    pointer-events: none;
    position: absolute;
    border-radius: 50%;
    border: 1px solid rgba(0,247,255,0.2);
    z-index: 0;
    pointer-events: none;
}
.circle:nth-child(1){
    width: 200px;
    height: 200px;
    top: 10%;
    left: 10%;
}
.circle:nth-child(2){
    width: 300px;
    height: 300px;
    top: 60%;
    left: 80%;
}
.circle:nth-child(3){
    width: 150px;
    height: 150px;
    top: 70%;
    left: 20%;
}
.circle:nth-child(4){
    width: 120px;
    height: 120px;
    top: 20%;
    left: 70%;
}
